<hr class="m-0" />
<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Formação Acadêmica</h2>
        {% if escolaridade %}
        {% for formacao in escolaridade %}
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{formacao.instituicao_ensino}}</h3>
                <div class="subheading mb-3">{{formacao.curso}}</div>
            </div>
            <div class="flex-shrink-0">
                <span class="text-primary">{{formacao.inicio|date:"F Y"}} - 
                    {% if formacao.fim %}
                        {{formacao.fim|date:"F Y"}}
                    {% else %}
                        Atual
                    {% endif %} 
                </span>
            </div>
        </div>  
        {% endfor %}
        {% endif %}     
    </div>
</section>