<hr class="m-0" />
<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Formação Acadêmica</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Universidade Estácio de Sá</h3>
                <div class="subheading mb-3">Graduação em Análise e Desenvolvimento de Sistemas</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Abril 2024 - Cursando</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">ESAB – ESCOLA SUPERIOR ABERTA DO BRASIL</h3>
                <div class="subheading mb-3">MBA Profissional em Sistemas de Informação</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Junho 2017 - Setembro 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">UTFPR – Universidade Tecnológica Federal do Paraná</h3>
                <div class="subheading mb-3">Graduação em Engenharia Elétrica com ênfase em Eletrônica e Telecomunicações.</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Julho 2002 - Outubro 2010</span></div>
        </div>
    </div>
</section>