<hr class="m-0" />
            <!-- Experiencia-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experiência Profissional</h2>
                    {% if experiencia %}
                    {% for exp in experiencia %}
                        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="flex-grow-1">
                                <h3 class="mb-0">{{exp.cargo}}</h3>
                                <div class="subheading mb-3">{{exp.empresa}}</div>
                                <p>{{exp.descricao}}</p>
                            </div>
                            <div class="flex-shrink-0"><span class="text-primary">{{exp.inicio|date:"F Y"}} - 
                                {% if exp.fim %}
                                    {{exp.fim|date:"F Y"}}
                                {% else %}
                                Atual
                                {% endif %}
                                </span></div>
                        </div>
                    {% endfor %}
                    {% endif %}  
                </div>
            </section>
            