<hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interesses</h2>
                    <p>Tirando os interresses sobre tecnologia e desenvolvimento de sistemas minha outra paixão é o ciclismo. Gosto de andar de bicicleta pelos parques, pela cidade e também pelas estradas de terra que temos ao redor da cidade de Curitiba. </p>
                    <p class="mb-0">Gosto de acompanhar filmes e séries de sci-fi e fantasia, gosto de cozinhar e também de passar tempo com a minha família.</p>
                </div>
            </section>