<!-- Sobre-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Julio Cezar
            <span class="text-primary">Otto Junior</span>
        </h1>
        <h4 class="mb-0">
            
            <span class="text-primary">Desenvolvedor de Software</span>
        </h4>
        <div class="subheading mb-5">
            Rua São Francisco Xavier, 312 · Curitiba/PR · (41) 99651-9784 ·
            <a href="mailto:juliootto@gmail.com">juliootto@gmail.com</a>
        </div>
        <p class="lead mb-5" style = "text-align: justify;">Desenvolvedor de Software Sênior com mais de 18 anos de experiência na CELEPAR, especializado na sustentação e desenvolvimento de sistemas ERP (Meta4) de missão crítica para gestão de RH e 
                                                            folha de pagamento do estado do Paraná. Com uma base sólida em lógica de programação e resolução de problemas complexos, atualmente estou aprofundando meus conhecimentos em tecnologias 
                                                            modernas como Python, Django, Java, Spring Boot e Flutter. Busco ativamente aplicar minha vasta experiência em novos desafios no desenvolvimento de aplicações, combinando a maturidade 
                                                            profissional com as tecnologias mais atuais do mercado.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/julio-cezar-otto-junior-b184502/"  target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/juliootto" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://wa.me/5541996519784" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</section>